#banner {
	height: 45vh;
	background-image:linear-gradient(81deg, rgba(196,196,196,0.5) 15%, rgba(62,62,62,0.5) 54%), url("../images/barquebenin.jpg");
	background-size: cover;
	background-position: center;
	color : white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 1px 1px 50px #018955;
	background-attachment: fixed;
 	margin : 0 auto;
}